common: &common
  adapter: postgresql
  host: localhost
  port: 5432
  encoding: utf8
  username: caras
  password: caras
  pool: 50
  timeout: 5000
  logger: false

development:
  <<: *common
  database: caras-dev

production:
  <<: *common
  database: caras

test:
  <<: *common
  database: caras-test
